.home {
  .ban-smal {
    width: 100%;
    display: table;
    background: url("../assets/banner-catering.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 70px 0px;
    color: #fff;
    font-size: 2em;
    text-align: center;
  }
  .get-started-button {
    margin-top: 1em;
  }
}
