.search {
    color: #f26800;
    padding: 0.5em 0.25em;
    .react-datepicker__input-container {
        width: 100%;
        input {
            width: 100%;
        }
    }
    .show-hide-filter .inline-radio {
        border: 1px solid #f26800;
    }
    .display-table {
        height: 2.5em;
        display: table;
        text-align: center;
    }
    .center-inline-image {
        position: absolute;
        top: 8px;
        left: 8px;
    }
    .move-center {
        position: relative;
        display: table-cell;
        vertical-align: middle;
    }
    .select-date {
        position: relative;
        bottom: 15px;
    }
    .adjust-delivery {
        margin: 0 2.5em;
    }
    .react-autosuggest__container {
        width: 90%;
    }
    .react-autosuggest__input {
        width: inherit;
        border: 1px solid #efefef;
        height: 1.75em;
    }
    .pure-form input[type] {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .Select-input input {
        border: none;
        box-shadow: none;
    }
    .show-hide-filter {
        padding: 0 2.5em;
        .inline-radio label {
            background: white;
            color: #f26800;
            border: 0.5px solid #f26800;
        }
    }
    .cuisine-carousel-wrapper {
        width:80%;
        margin: auto;
        .inline-radio input {
            width: 100%;
            height:100%;
            opacity: 0;
        }
    }
    .arrow-decorator{
        border-radius:50%;
    }
    .arrow-decorator:hover{
        background-color:lightgrey;
    }
    .carousel-dimensions {
        height: 3em;
        width:3em;
    }
    .carousel-img {
        opacity: 0.9;
        text-align: center;
        font-weight: 700;
    }
    .select-cuisine {
        background-image: url("/selection/dark-green-check-mark-md.png");
        background-color: white;
    }
    .diet-wrapper {
        margin-top: 50px;
    }
    .providers-wrapper {
        margin-top: 50px;
    }
    .provider-profile-wrapper {
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        padding: 5px;
        position: relative;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        cursor: pointer;
    }
    .provider-profile-wrapper:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .provider-img-section {
        min-width: 120px;
        min-height: 120px;
        display: inline-block;
    }
    .img-avatar {
        margin: 0 auto;
        min-width: 120px;
        min-height: 120px;
        position: relative;
        overflow: hidden;
        text-align: center;
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 10px;
            right: 0px;
            margin: auto;
            max-height: 100%;
            max-width: 100%;
        }
    }
    .provider-info-section {
        padding: 1em;
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
    }
    .provider-star-rating {
        display: inline-block;
    }
    .num-of-reviews {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        font-size: 10px;
    }
    .miles-away {
        float: right;
        font-size: 12px;
    }
    .load-more-center {
        text-align: center;
    }
    .query-btn-center {
        margin-top: 20px;
        text-align: center;
    }
}
