.display-inline {
  display: inline-block;
}

.codebox input[type="text"]{
  margin-left: 40px;
  margin-top:0.25em
}

@media (max-width: 53em) {
    .codebox{
      width:55%;
    }
    .codebox input[type="text"]{
      width:65%;
      margin-top:0;
    }
}