
.pure-g{
	letter-spacing:normal;
}
.provider-food-entry{
	padding:1em;
}
.is-center{
	margin:0 auto;
	text-align:center;
}
.section-padding {
	padding-top:1em;
}
.food-item-container{
	padding: 1em;
	box-shadow: 1px 1px 1px 1px lightgrey;
}
