:global {
    @import 'base';
    @import '~normalize.css/normalize';
    @import '~purecss/build/pure';
    @import '~purecss/build/grids-core';
    @import '~purecss/build/grids-responsive';
    @import 'login_buttons';
    @import 'autocomplete';
    @import 'panel';
    @import 'pure-core-overwrites';
    @import 'nuka-carousel-overwrites';
    @import 'circularProgressBar';
}

$call-jack-ie: #FF6F00;
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:before,
*:after {
    box-sizing: border-box;
}

.capitalize {
    text-transform: uppercase;
}

.primary-color {
    color: #FF6F00;
}

.is-center{
    text-align:center;
}
.gallery-img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.portrait {
    width: 100%;
    height: auto;
}
