
.retain-letter-spacing {
    letter-spacing: normal;
}

.text-align-left {
    text-align: left;
}

   
.display-inline {
    display: inline-block;
}

.pull-left {
    float:left;
    text-align: left;
}

.remove-margin-bottom{
	margin-bottom:0px;
}

.pure-override-letter-spacing{
	letter-spacing:normal;
}

input:required:focus {
  border: normal;
  outline: none;
}

input:invalid {
        border: 1px solid red;
    }
.error-message{
    float:left;
    color:red;
}

.input-hidden{
    display:none !important;
}
