.provider-profile {
    .content {
        padding: 1em;
    }
    a {
        text-decoration: none;
        color: rgb(61, 146, 201);
    }
    .react-autosuggest__input {
        width: 100%;
    }
    a:hover,
    a:focus {
        text-decoration: underline;
    }
    h3 {
        font-weight: 100;
    }
    .is-center {
        text-align: center;
        vertical-align: middle;
    }
    /* LAYOUT CSS */
    .pure-img-responsive {
        max-width: 100%;
        height: auto;
    }
    .profile-wrapper {
        padding: 1em;
        box-shadow: 1px 1px 1px 1px lightgrey;
        background-color: white;
    }
    .provider-desc-wrapper {
        padding: 1em;
    }
    .brand-title {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0.5em;
    }
    .addtnl-info {
        margin-top: 0.5em;
        span {
            font-weight: 600;
        }
    }
     .addtnl-info span.service-offered  {
        margin-left: 0.5em;
        font-weight: 400;
    }
    .provider-details {
        position: relative;
        margin-top: 0.5em;
    }
    .provider-detail {
        position: absolute;
        font-size: 1em;
        line-height: 1.5em;
        margin-left: 1em;
    }
    .checkout-details {
        margin-left: 20px;
    }
    .content-subhead {
        text-transform: uppercase;
        border-bottom: 1px solid black;
        padding: 0.4em 0;
        font-size: 120%;
        font-weight: 800;
        letter-spacing: 0.1em;
    }
    .order-title {
        border-bottom: 1px solid #eee;
        padding: 0.4em 0;
        font-weight: 500;
        letter-spacing: 0.1em;
        margin-bottom: 1em;
    }
    .order-header {
        text-align: center;
        margin-bottom: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid #eee;
    }
    .order-address-heading {
        margin-bottom: 0.5em;
    }
    .delivery-box {
        width: 70%;
    }
    .order-submit > table {
        margin: 0 auto;
    }
    .error-message {
        color: red;
        padding-bottom: .7em;
    }
    .provider-profile-link {
        style: none;
        color: white;
    }
    .row {
        display: flex;
    }
    .position-relative {
        position: relative;
    }
    .response-ratio {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20%;
        max-width: 75px;
        min-width: 60px;
        z-index: 3;
    }
    .response-percentage {
        position: absolute;
        color: white;
        bottom: 41%;
        right: 20%;
    }
    .response-heading {
        padding: 1.5em;
        color: white;
    }
    .rating-overlay {
        position: absolute;
        bottom: 0;
        height: 4em;
        width: 100%;
        background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
        /* Standard syntax (must be last) */
    }
}

@media (min-width: 48em) {
    .provider-profile {
        .post-description {
            padding-left: 1em;
        }
    }
}
