  .food-item-profile {
      .provider-img-section {
          min-width: 120px;
          min-height: 120px;
          display: inline-block;
          background-image: linear-gradient(to top, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0) 50%);
      }
      .img-avatar {
          margin: 0 auto;
          min-height: 230px;
          position: relative;
          overflow: hidden;
          text-align: center;
      }
      .provider-info-section {
          padding: 0.5em;
          display: inline-block;
          vertical-align: top;
          font-size: 14px;
      }
      .foodItem-name {
          display: inline-block;
          font-weight: 600;
          margin-bottom: 0.5em;
      }
      .star-rating {
          display: inline-block;
          float: right;
      }
      .provider-star-rating {
          display: inline-block;
      }
      .add {
          display: inline-block;
      }
      .add-to-cart {
          margin-top: 0.5em;
      }
      .food-desc {
          margin-bottom: 0.5em;
      }
      .food-price {
          display: inline-block;
          font-weight: 600;
      }
      .add {
          float: right;
      }
      .filter-top-margin {
          padding-top: 1em;
      }
      .num-of-reviews {
          display: inline-block;
          vertical-align: super;
          margin-left: 3px;
          font-size: 10px;
      }
      .move-center {
          text-align: center;
      }
      .pure-table td {
          padding: 0.5em 0;
      }
      td.reduce-padding {
          padding: 0px;
      }
      td.add-padding-left {
          padding-left: 0.5em;
      }
      table.remove-border,
      table.remove-border td {
          border: none;
      }
      .review-item-name {
          text-transform: capitalize;
          padding: 0.5em;
      }
      .review-submit-link {
          font-size: 0.7em;
          padding: .2em;
      }
      .review-submit-link:hover {
          text-decoration: underline;
          color: blue;
      }
      .review-submit-button {
          margin-top: 1.5em;
      }
  }
  
  .provider-profile-wrapper {
      background: #fff;
      border-radius: 2px;
      display: inline-block;
      position: relative;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      cursor: pointer;
  }
  
  .provider-profile-wrapper:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
