  .job-apply {
    padding: 1em;
    input[type="text"],
    input[type="email"],
    textarea {
      box-shadow: none;
      border-radius: 0
    }
    h2 {
      font-size: '120%';
      font-weight: 400;
    }
    .apply-wrapper {
      margin-top: 1em;
    }
  }
