.mainContainer {}

.footer-wrapper {
    width:100%;
    text-align:left;
}
.footer {
    background: #ff5f5f5;
}

.container {
    margin: 0 auto;
}

.content {
    min-height:600px;
    .pure-g {
        letter-spacing: initial;
    }
}


@media (max-width: 53em) {
    .content{
        min-height:500px;
    }
}


@media (min-width: 1330px) {
    /* We increase the header font size even more */
    .footer {
        width: 70%;
    }
}
