.mainContainer {}

.footer {
    background: #ff5f5f5;
}

.container {
    margin: 0 auto;
    background: #ff5f5f5;
}

.content {
    .pure-g {
        letter-spacing: initial;
    }
}

.footer-wrapper {}

.footer {
    margin: 0 auto;
}

@media (min-width: 1330px) {
    /* We increase the header font size even more */
    
    .footer {
        width: 70%;
    }
}
