.order-summary {
    .content-subhead {
        text-transform: uppercase;
        color: #aaa;
        border-bottom: 1px solid #eee;
        padding: 0.4em 0;
        font-size: 80%;
        font-weight: 500;
        letter-spacing: 0.1em;
    }
    .content {
        padding: 2em 1em 0;
    }
    .post {
        padding-bottom: 2em;
    }
    .heading {
        margin: 0px auto;
        background: lightgrey;
        padding: 0.5em;
    }
    .order-details{
        padding: 0.5em;
    }
    .order-detail:last-child{
        border-bottom:1px solid lightgrey;
    }
    .customer-comments{
        padding:0.25em 0;
        text-align: left;
    }
    .comment-intro{
        font-weight:600;
        padding-right:0.5em;
    }
    .order-wrapper{
        width:90%;
        margin:0 auto;
    }
    @media (max-width: 53em) {
        .order-summary{

        }
        
    }
}
